@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Freehand&family=Noto+Sans:wght@300&family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&family=Poppins:wght@200&display=swap');

body{
font-family: 'Nunito Sans', sans-serif;
color: white;
background: rgb(40, 40, 40);
}